*{
    font-family: 'Raleway', sans-serif;
    
}
#bloc-page{
    width: 900px;
    margin-left: 40px;
    margin-right: 40px;
    
}
header,
nav,
section,
.recherche,
label,
.filtres,
.criteres,
#hebergements,
.resultats,
.groupe,
.anonces,
aside,
#populaires,
.favoris,
.description,
div h3,
div h5
h4{
     display: flex;
     
 }
 .texte,
 h5{
     font-size: small;
     font-weight: lighter;
}
h5,
p{
    color: black;
}
a{
    text-decoration: none;
}

    /*Header*/
 header{
    height: 60px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
/*logo*/

.logo{
    align-self: flex-end;
}

nav{
    flex-direction: row;
    margin-bottom: 10px;
    gap: 50px;
    
    
}

.navigation a
{
    color: #0065FC;
    text-decoration: none;
}

.element{
    text-decoration-color: #0065FC;
    padding-top: 30px;
    border-top: none;
    
}
.element:hover{
    border-top: 2px solid #0065FC;
}

    /*Titre*/
#titre{
    height: 60px;
    max-height: fit-content;
}

    /*Section recherche*/
.recherche{
    flex-direction: row;
    align-items: center;
    padding: 20px;
    padding-left: 0;
}
label{
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 40px;
    height: 40px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #F2F2F2;
}
input{
    height: 40px;
    width: 180px;
    border: solid;
    border-right: none;
    border-color: #F2F2F2;

}
button{
    height: 40px;
    border: solid #0065FC;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    color: #FFF; 
    background-color: #0065FC;
}

    /*Filtres*/
.filtres{
    flex-direction: row;
    align-content: center;
}

h4{
    align-self: start;
}

.filtres ol{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    list-style-type: none;

}
.criteres{
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-right: 20px;
    padding-right: 10px;
    border: solid #F2F2F2;
    border-width: 2px;
    border-radius: 30px;
}
#icones{
    padding-right: 10px;
}
.criteres .fas{
    padding: 7px 7px;
    border-radius: 30px;
    background-color: #0065FC;
    opacity: 0.3;
}

    /*Infos*/
.infos{
    display: flex;
    width: 360px;
    align-items: center;
    justify-content: space-between;
}

    /*Hébergements*/
#hebergements{
    justify-content: space-between;
}

    /*Resultats*/
.resultats{
    flex-direction: column;
    flex-shrink: 1;
    border-radius: 15px;
    background-color: #F2F2F2;
    width: 600px;
    height: 450px;
}
.anonces{
    flex-direction: column;
    align-items:unset;
    width: 180px;
    height: 30px;
    border: solid #FFF;
    border-radius: 15px;
}
.anonces img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

    /*Favoris*/
aside{
    flex-direction: column;
    border-radius: 15px;
    justify-content: space-around;
    background-color: #F2F2F2;
    width: 270px;
    height: 450px;
}
#populaires{
    align-items: baseline;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.favoris{
    width: 230px;
    height: 100px;
    border-radius: 15px;
    border: solid #FFF;
    margin-left: 15px;
}
.favoris img{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.description{
    flex-direction: column;
    width: 100px;
}

    /*Activités*/
#activites{
    border: solid black;
    height: 300px;
}

    /*Footer*/
footer{
    display:flex;
    position: relative;
    bottom:0;
    width:100%;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    background-size: 900px;
}
footer ol{
    margin-right: 100px;   
    list-style-type: none;
}
