*{
    font-family: 'Raleway', sans-serif;    
}

#bloc_page{
    max-width: 1080px;
    margin: auto;
    padding: 0 10px;
}

.flex{
    display: flex;
}

.annonces,
.favoris{
     text-decoration: none;
     color: black;
}

.texte{
    margin: 0px;
    font-size: 12px;
    color: black;
    margin-bottom: 3px;
}

a{
    text-decoration: none;
}

.fas{
    color: #0065FC;
}

.lieu{
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 3px;
}

    /*Header*/

 header{
    height: 90px;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    margin-bottom: 30px;
}

    /*logo*/

.logo{
    align-self: flex-end;
}

nav{
    margin-bottom: 40px;
    gap: 20px;  
}

nav a{
    color: #0065FC;
    text-decoration: none;
}

.element p{
    margin: 0;
}

.element{
    width: 150px;
    justify-content: center;
    text-decoration-color: #0065FC;
    padding-top: 30px;
    border-top: 2px solid #FFF;
    
}
.element:hover{
    border-top: 2px solid #0065FC;
}

    /*Titre*/
#titre{
    height: 60px;
    max-height: fit-content;
}

    /*Section recherche*/

.recherche{
    flex-direction: row;
    align-items: center;
    margin: 20px 0px;
}

label{
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
}

input{
    height: 40px;
    width: 180px;
    border: solid;
    border-right: none;
    border-left: none;
    border-color: #F2F2F2;
    text-decoration-color: black;
    padding-left: 15px;
}

.visuel2{
    display: none;
}

button{
    width: 100px;
    height: 40px;
    border: solid #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #FFF; 
    background-color: #0065FC;
}
button:hover{
    cursor: grab;
    font-weight: bolder;
    text-shadow: 10px 10px 30px #FFF;
}

input::placeholder{
    color: black;
    font-weight: bold;
    opacity: 1;
}

    /*Filtres*/

.filtres{
    align-items: center;
}

.filtres ol{
    list-style-type: none;
}

.criteres{
    align-items: center;
    height: 45px;
    margin: 0 20px 0 0;
    padding-right: 10px;
    border: solid #F2F2F2;
    border-radius: 30px;
}

.icones{
    width: 45px;
    height: 45px;
    border: solid #DEEBFF;
    border-radius: 30px;
    margin-left: -3px;
    background-color: #DEEBFF;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}


.criteres:hover{
    cursor: pointer;
    background-color: #F2F2F2;
    box-shadow: 5px 5px 10px #0065FC;
}

    /*Infos*/

.infos{
    align-items: center;
    column-gap: 10px;
    margin: 20px 0;
}

.infos .texte{
    font-size: 14px;
    margin: 0;
}

.point{
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: solid #F2F2F2 2px;
    border-radius: 15px;
}

    /*Hébergements*/

#hebergements{
    width: 100%;
}

    /*Resultats*/

.resultats{
    flex-direction: column;
    column-gap: 25px;
    width: 70%;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 0px 25px;
}

.groupe{
    column-gap: 20px;
    margin-bottom: 20px;
}

.groupe a,
.annonces{
    flex-direction: column;
    border: 3px solid #FFF;
    background-color: #FFF;
    border-radius: 15px;
}

.groupe a{
    width: 33.33%;
    height: 150px;
    box-shadow: 3px 3px 10px lightgrey;
    overflow: hidden;
}

.annonces{
    width: 100%;
    height: 40%;
    margin-left: 3px;
}

.groupe img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.etoiles{
    height: 20%;
    align-items: center;
}
.resultats h4{
    margin-top: 0;
}

    /*Favoris*/

aside{
    flex-direction: column;
    width: 25%;
    border-radius: 15px;
    background-color: #F2F2F2;
    padding: 0px 25px;
    margin-left: 25px;
}

#populaires{
    align-items: center;
    justify-content: space-between;
}

aside a{
    width: 100%;
}

.favoris{
    width: 100%;
    height: 100px;
    border-radius: 15px;
    border: solid #FFF;
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 3px 3px 10px lightgrey;
    margin-bottom: 20px;
}
.favoris img{
    width: 100px;
    height: 100%;
    object-fit: cover;
}

.description{
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 10px;
}
.description .etoiles{
    height: 100%;
    align-items: flex-end;
    margin-bottom: 10px;
}

    /*Activités*/

#activites{
    flex-direction: column;
    max-width: 100%;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#activites .lieu{
    justify-items: flex-end;
    color: black;
    padding-left: 10px; 
    margin: 0;
}

.photos{
    max-width: 100%;
    height: 350px;
    column-gap: 20px;
}

.visite{
    width: 25%;
}

.visite,
.grande_carte,
.petite_carte{
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 3px 10px lightgrey;
}

.grande_carte{
    height: 200px;
}

.petite_carte{
    height: 130px;
}

.visite img{
    width: 100%;
    height: 86%;
    object-fit: cover;
}

.grande_carte img{
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.petite_carte img{
    width: 100%;
    height: 62%;
    object-fit: cover;
}

.carte_double{
    flex-direction: column;
    width: 25%;
    justify-content: space-between;
}

    /*Footer*/

footer{
    position: relative;
    bottom:0;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    margin-top: 30px;
}

footer ol{
    flex-direction: column;
    list-style-type: none;
    margin-right: 100px;
    padding: 0;
}

.menu{
    margin: auto;
}

li{
    margin-bottom: 10px;
}

/*Requêtes pour Tablettes*/

@media (min-width: 768px) and (max-width: 991px) {

    /*Header*/

.logo{
    align-self: center;
}

    /*titre*/

#titre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titre h3{
    margin: 0;
}

#titre p{
    margin-top: 5px;
}

    /*Recherche*/

.recherche{
    justify-content: center;
    margin-top: 0;
}

    /*Filtres*/

.filtres{
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 25px;
    box-shadow: 10px 10px 5px lightgrey;
}

.filtres h4{
    font-size: x-large;
    color: #0065FC;
    margin: 10px 0 0 5px;
}

.filtres ol{
    padding: 0;
    column-gap: 30px;
}

.filtres li{
    margin: 0;
    border-color: #DEEBFF;
    background-color: #DEEBFF;
}

    /*Infos*/

.infos{
    justify-content: center;
    font-weight: bold;
}

    /*Hébergements*/

#hebergements{
    flex-direction: column;
}

    /*Les plus populaires*/

aside{
    width: 60%;
    align-items: center;
    justify-items: center;
    order: -1;
    margin: auto;
    margin-bottom: 15px;
    box-shadow: 10px 10px 5px lightgrey;
}

#populaires i{
    display: none;
}

#populaires h3{
    color: #0065FC;
}

#populaires a{
    width: 60%;
}

.favoris{
    width: 400px;
    height: 150px;
    margin: 0 auto 20px auto;
}

.favoris img{
    width: 200px;
}

.favoris .etoiles{
    height: 100%;
    justify-self: flex-end;
}

    /*Résultats*/

.resultats h3{
    color: #0065FC;
}
.resultats{
    order: 2;
    max-width: 80%;
    align-items: center;
    margin: auto;
    box-shadow: 10px 10px 5px lightgrey;
}

.groupe{
    width: 100%;
}

.groupe a{
    width: 33.33%;
}

    /*Activités*/

#activites{
    height: 450px;
    align-items: center;
    margin: auto;
}

#activites h3{
    color: #0065FC;
}

#activites .lieu{
    
    min-height: 50px;
    padding: 0;
}

.lieu p{
    margin: auto 10px;
}

    /*Footer*/

footer{
    margin: auto;
    margin-top: 20px;
}

}


@media (max-width: 767px) {


body{
    overflow-x: hidden;
}

#bloc_page{
    max-width: 100%;
    padding: 0;
}
    
        /*Header*/
    
     header{
        flex-direction: column;
        height: 90px;
        padding: 0;
        margin: 20px 0 20px 0;
    }
    
        /*logo*/
    
    .logo{
        align-self: center;
    }
    
    nav{
        flex-direction: row;
        width: 100%;
        margin: 15px 0 20px 0;
        gap: 0px;  
    }
    
    .element{
        width: 50%;
        justify-content: center;
        margin: 20px 0;
        padding: 0 0 10px 0;
        border-bottom: 2px solid #F2F2F2;   
    }
    
    .element:hover{
        border-top: 0;
        border-bottom: 2px solid #0065FC;
    }
    
        /*Titre*/
    #titre{
        height: fit-content;
        margin-top: 30px;
        margin-left: 15px;
    }

    #titre h3{
        margin: 0;
    }

    #titre p{
        margin: 15px 0 0 0;
    }
        /*Section recherche*/
    
    .recherche{
        height: 50px;
        justify-content: space-between;
        border: 1px solid #F2F2F2;
        border-radius: 15px;
        margin: 30px 15px 30px 15px;
        padding: 0;
    }
    
    label{
        justify-content: center;
        align-items: center;
        min-width: 50px;
        height: 50px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: #F2F2F2;
    }
    
    input{
        height: 50px;
        width: 250px;
        border: none;
        border-right: none;
        border-left: none;
        border-color: #F2F2F2;
        text-decoration-color: black;
        padding-left: 0px;
    }
    
    .visuel1{
        display: none;
    }
    
    .visuel2{
        display: flex;
        justify-content: center;
    }
    
    button{
        content: "fa-solid fa-magnifying-glass";
        width: 52px;
        height: 52px;
        border: 3px solid #0065FC;
        border-radius: 15px;
        color: #FFF; 
        background-color: #0065FC;
    }
    button:hover{
        cursor: grab;
        font-weight: bolder;
        text-shadow: 10px 10px 30px #FFF;
    }
    
    input::placeholder{
        vertical-align: baseline;
        color: black;
        font-size: large;
        font-weight: bold;
        opacity: 1;
    }
    
        /*Filtres*/
    
    .filtres{
        flex-direction: column;
        margin-left: 15px;
    }
    
    .filtres h4{
        align-self: flex-start;
        margin-left: 0;
    } 
    
    .filtres ol{
        flex-wrap: wrap;
        list-style-type: none;
        gap: 10px;
        padding: 0;
        margin-left: 0;
        margin-right: 15px;
    }
    
    .criteres{
        align-items: center;
        border: 2px solid lightgrey;
    }
    
    .icones{
        font-size: large;
        border:  2px solid #DEEBFF;
        border-radius: 30px;
        background-color: #DEEBFF;
        margin-right: 10px;
        align-items: center;
        justify-content: center;
    }
    
    .filtres p{
        display: block;
        font-weight: bolder;
        
    }
    
    .criteres:hover{
        cursor: pointer;
        background-color: #F2F2F2;
        box-shadow: 5px 5px 10px #0065FC;
    }
    
        /*Infos*/
    
    .infos{
        align-items: baseline;
        column-gap: 10px;
        margin: 20px 0 20px 15px;
    }
    
    .infos .texte{
        font-size: 16px;
        margin: 0;
    }
    
    .point{
        align-items: center;
        width: 20px;
        height: 20px;
        border: solid #F2F2F2 2px;
        border-radius: 20px;
        padding: 0 2px;
    }
    
        /*Hébergements*/
    
    #hebergements{
        flex-direction: column;
        width: 100%;
    }
    
        /*Resultats*/
    
    .resultats{
        width: 100%;
        order: 2;
        background-color: #FFF;
        padding: 0;
        margin: 0;
    }

    .resultats h3{
        width: 100%;
        margin-left: 15px;
    }

    .resultats h4{
        margin-left: 15px;
    }
    
    .groupe{
        flex-direction: column;
        row-gap: 10px;
    }

    .groupe a{  
        width: auto;
        height: 200px;
        margin: 0 15px;
    }
    
        /*Favoris*/
    
    aside{
        flex-direction: column;
        width: 100%;
        border-radius: 0;
        background-color: #F2F2F2;
        padding: 0;
        margin: 0;
    }

    aside a{
        height: 150px;
    }

    #populaires{
        margin: 0 15px;
    }

    .favoris{
        width: auto;
        height: 85%;
        margin: 0 15px;
    }

    .favoris img{
        width: 33%;
    }
    
        /*Activités*/
    
    #activites{
        flex-direction: column;
        width: 100%;
        border-radius: 15px;
        margin: 0;
    }

    #activites h3{
        margin-left: 15px;
    }
    
    .photos{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1250px;
        gap: 10px;
        margin-bottom: 25px;
    }

    .visite{
        width: auto;
        height: 200px;
        margin: 0 15px;
    }

    .carte_double{
        width: 100%;
        height: fit-content;
        gap: 10px;
    }

    .grande_carte,
    .petite_carte{
        width: auto;
        height: 200px;
        margin: 0 15px;
    }
    
    .photos img{
        height: 75%;
    }

    .lieu{
        height: 25%;
        align-content: center;
    }

    .lieu .texte{
        margin: auto 0;
    }
    
        /*Footer*/
    

    
    footer ol{
        margin: 10px 15px;
    }
    
    .menu{
        flex-direction: column;
        margin: 0;
    }

    
}