*{
    font-family: 'Raleway', sans-serif;
    
}
.box {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
 }

header,
section {
     display: flex;
     margin: auto 25px;
 }

 ol{
     list-style-type: none;
 }

 header{
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 20px;
}

nav
{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-right: 30px;
    
}

.navigation a
{
    color: #0065FC;
    text-decoration: none;
}

.element{
    text-decoration-color: #0065FC;
    padding-top: 40px;
    border-top: none;
    align-items: flex-end;
}
.element:hover{
    border-top: 2px solid #0065FC;
}

.titre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.texte{
    
    font-size: small;
}

.recherche{
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    border-radius: 30px;
    height: 40px;
    width: 320px;
    
}

.location{
    display: flex;
}
i{
    display: flex;
    width: 20px;
    height: 40px;
}

input{
    height: 40px;
    width: 180px;
}

span{
    display: flex;
    align-items: center;
    width: 100px;
    height: 40px;
    color: #FFF;
    font-size: larger;
    font-weight: bold;
    background-size: auto;
    background-color: #0065FC; 
}

.filtre{
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-items: baseline;  
}

.h4{
    display: flex;
    align-items: flex-start;
}

.element2{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: baseline;   
}

figcaption{
    color: #0065FC;
    text-decoration: none;
    text-decoration-color: #0065FC;
}


footer{
    display:flex;
    position: relative;
    bottom:0;
    width:100%;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    background-size: auto;
    margin: none;
}
footer ol{
    margin-right: 280px;   
    list-style-type: none;
}
