*{
    font-family: 'Raleway', sans-serif;
    
}
#bloc-page{
    width: 992px;
    margin-left: 30px;
    margin-right: 30px;
    
}
header,
nav,
section,
.recherche,
label,
.filtres,
.criteres,
#hebergements,
.resultats,
.groupe,
.anonces,
aside,
#populaires,
.favoris,
.description,
.photos,
#activites,
div h3,
h4{
     display: flex;
     
 }
.anonces,
.favoris{
     text-decoration: none;
     color: black;
}
.texte{
    margin: 0px;
    font-size: 12px;
    color: black;
}
a{
    text-decoration: none;
}
.fas{
    color: #0065FC;
}


    /*Header*/
 header{
    height: 60px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
    /*logo*/

.logo{
    align-self: flex-end;
}

nav{
    flex-direction: row;
    margin-bottom: 10px;
    gap: 50px;
    
    
}

.navigation a
{
    color: #0065FC;
    text-decoration: none;
}

.element{
    text-decoration-color: #0065FC;
    padding-top: 30px;
    border-top: 2px solid #FFF;
    
}
.element:hover{
    border-top: 2px solid #0065FC;
}

    /*Titre*/
#titre{
    height: 60px;
    max-height: fit-content;
}

    /*Section recherche*/
.recherche{
    flex-direction: row;
    align-items: center;
    padding: 20px;
    padding-left: 0;
}
label{
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 40px;
    height: 40px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #F2F2F2;
}
input{
    height: 40px;
    width: 180px;
    border: solid;
    border-right: none;
    border-color: #F2F2F2;
    text-decoration-color: black;
}
button{
    height: 40px;
    border: solid #0065FC;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    color: #FFF; 
    background-color: #0065FC;
}
input::placeholder{
    color: black;
    opacity: 1;
}

    /*Filtres*/
.filtres{
    flex-direction: row;
    align-items: center;
}

h4{
    margin: 0;
}

.filtres ol{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    list-style-type: none;

}
.criteres{
    align-items: center;
    height: 40px;
    margin-right: 20px;
    padding-right: 10px;
    border: solid #F2F2F2;
    border-radius: 30px;
}
.icones{
    width: 40px;
    height: 40px;
    border: solid #DEEBFF;
    border-radius: 30px;
    margin-left: -3px;
    background-color: #DEEBFF;
    margin-right: 10px;
}
.icones .fas{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.criteres:hover{
    background-color: #F2F2F2;
    box-shadow: 5px 5px 10px #0065FC;
}
    /*Infos*/
.infos{
    display: flex;
    align-items: baseline;
    column-gap: 10px;
    margin-bottom: 20px;
}
.infos .texte{
    font-size: 14px;
}
.infos .fas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    border: solid #F2F2F2 2px;
    border-radius: 15px;
    padding: 5px;
}

    /*Hébergements*/
#hebergements{
    justify-content: space-between;
}

    /*Resultats*/
.resultats{
    flex-direction: column;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}
.groupe{
    column-gap: 25px;
    margin-bottom: 25px;
}
.groupe a,
.anonces{
    flex-direction: column;
    border: 4px solid #FFF;
    background-color: #FFF;
    border-radius: 15px;
}
.texte,
.etoiles,
.lieu{
    margin-left: 5px;

}
.lieu{
    font-size: 14px;
    font-weight: bolder;
}
.groupe img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.lieu,
.texte{
    margin-bottom: 2px;
}
#hebergements h4{
    justify-self: flex-end;
}
.groupe a{
    box-shadow: 3px 3px 10px lightgrey;
}

    /*Favoris*/
aside{
    flex-direction: column;
    border-radius: 15px;
    background-color: #F2F2F2;
    padding-left: 20px;
    padding-right: 20px;
}
#populaires{
    width: 260px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.favoris{
    width: 260px;
    height: 100px;
    border-radius: 15px;
    border: solid #FFF;
    background-color: #FFF;
    box-shadow: 3px 3px 10px lightgrey;
    margin-bottom: 20px;
}
.favoris img{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 10px;
}
.description{
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 5px;
}

    /*Activités*/
#activites{
    flex-direction: column;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.photos{
    justify-content: space-between;  
}
.sites,
.grande_carte,
.petite_carte{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 3px 10px lightgrey;
}

#activites p{
    padding-left: 5px;
    padding-bottom: 10px;
}
.visites{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    /*Footer*/
footer{
    display:flex;
    position: relative;
    bottom:0;
    width:100%;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    margin-top: 30px;
}
footer ol{
    margin-right: 100px;   
    list-style-type: none;
}
li{
    margin-bottom: 10px;
}
