*{
    font-family: 'Raleway', sans-serif;
    
}
#bloc-page{
    width: 1080px;
    margin-left: 30px;
    margin-right: 30px;
    
}
header,
nav,
section,
.recherche,
label,
.filtres,
.criteres,
#hebergements,
.resultats,
.groupe,
.anonces,
aside,
#populaires,
.favoris,
.description,
div h3,
h4{
     display: flex;
     
 }
.anonces,
.favoris{
     text-decoration: none;
     color: black;
}
.texte{
    margin: 0px;
    font-size: 12px;
    color: black;
}
a{
    text-decoration: none;
}
.fas{
    color: #0065FC;
}


    /*Header*/
 header{
    height: 60px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
    /*logo*/

.logo{
    align-self: flex-end;
}

nav{
    flex-direction: row;
    margin-bottom: 10px;
    gap: 50px;
    
    
}

.navigation a
{
    color: #0065FC;
    text-decoration: none;
}

.element{
    text-decoration-color: #0065FC;
    padding-top: 30px;
    border-top: 2px solid #FFF;
    
}
.element:hover{
    border-top: 2px solid #0065FC;
}

    /*Titre*/
#titre{
    height: 60px;
    max-height: fit-content;
}

    /*Section recherche*/
.recherche{
    flex-direction: row;
    align-items: center;
    padding: 20px;
    padding-left: 0;
}
label{
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 40px;
    height: 40px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #F2F2F2;
}
input{
    height: 40px;
    width: 180px;
    border: solid;
    border-right: none;
    border-color: #F2F2F2;

}
button{
    height: 40px;
    border: solid #0065FC;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    color: #FFF; 
    background-color: #0065FC;
}

    /*Filtres*/
.filtres{
    flex-direction: row;
    align-content: center;
}

h4{
    align-self: start;
}

.filtres ol{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    list-style-type: none;

}
.criteres{
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-right: 20px;
    padding-right: 10px;
    border: solid #F2F2F2;
    border-width: 2px;
    border-radius: 30px;
}
#icones{
    padding-right: 10px;
}
.criteres .fas{
    padding: 7px 7px;
    border-radius: 30px;
    background-color: #0065FC;
    opacity: 0.3;
}

    /*Infos*/
.infos{
    display: flex;
    max-width: fit-content;
    align-items: center;
    column-gap: 15px;
    margin-top: 20px;
}

    /*Hébergements*/
#hebergements{
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
}

    /*Resultats*/
.resultats{
    flex-direction: column;
    justify-items: space-between;
    gap: 25px;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding-left: 25px;
    padding-right: 25px;
}
.groupe{
    margin: auto;
    column-gap: 25px;
}
.groupe a,
.anonces{
    flex-direction: column;
    border: 4px solid #FFF;
    background-color: #FFF;
    border-radius: 15px;
}
.anonces{
    justify-items: space-around;
}
.texte,
.etoiles,
.lieu{
    margin-left: 5px;

}
.lieu{
    font-size: 15px;
    font-weight: bolder;
}
.groupe img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.lieu,
.texte{
    margin-bottom: 4px;
}
#hebergements h4{
    justify-self: flex-end;
}

    /*Favoris*/
aside{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
   
    background-color: #F2F2F2;
}
#populaires{
    align-items:center;
}
.favoris{
    border-radius: 15px;
    border: solid #FFF;
    background-color: #FFF;
    margin-left: 15px;
}
.favoris img{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.description{
    flex-direction: column;
}

    /*Activités*/
#activites{
    border: solid black;
    height: 300px;
}

    /*Footer*/
footer{
    display:flex;
    position: relative;
    bottom:0;
    width:100%;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    background-size: 900px;
}
footer ol{
    margin-right: 100px;   
    list-style-type: none;
}
