*{
    font-family: 'Raleway', sans-serif;    
}

#bloc-page{
    max-width: 1080px;
    margin: auto;
    padding: 0 10px;
}

.flex{
    display: flex;
}

.annonces,
.favoris{
     text-decoration: none;
     color: black;
}

.texte{
    margin: 0px;
    font-size: 12px;
    color: black;
    margin-bottom: 3px;
}

a{
    text-decoration: none;
}

.fas{
    color: #0065FC;
}

.lieu{
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 3px;
}

    /*Header*/

 header{
    height: 90px;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    margin-bottom: 30px;
}

    /*logo*/

.logo{
    align-self: flex-end;
}

nav{
    flex-direction: row;
    margin-bottom: 40px;
    gap: 50px;  
}

.navigation a
{
    color: #0065FC;
    text-decoration: none;
}

.element{
    text-decoration-color: #0065FC;
    padding-top: 30px;
    border-top: 2px solid #FFF;
    
}
.element:hover{
    border-top: 2px solid #0065FC;
}

    /*Titre*/
#titre{
    height: 60px;
    max-height: fit-content;
}

    /*Section recherche*/

.recherche{
    flex-direction: row;
    align-items: center;
    margin: 20px 0px;
}

label{
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #F2F2F2;
}

input{
    height: 40px;
    width: 180px;
    border: solid;
    border-right: none;
    border-left: none;
    border-color: #F2F2F2;
    text-decoration-color: black;
    padding-left: 15px;
}

button{
    width: 100px;
    height: 40px;
    border: solid #0065FC;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    color: #FFF; 
    background-color: #0065FC;
}
button:hover{
    cursor: grab;
    font-weight: bolder;
    text-shadow: 10px 10px 30px #FFF;
}

input::placeholder{
    color: black;
    font-weight: bold;
    opacity: 1;
}

    /*Filtres*/

.filtres{
    flex-direction: row;
    align-items: center;
}

.filtres ol{
    list-style-type: none;
}

.criteres{
    align-items: center;
    height: 40px;
    margin: 0 20px 0 0;
    padding-right: 10px;
    border: solid #F2F2F2;
    border-radius: 30px;
}

.icones{
    width: 40px;
    height: 40px;
    border: solid #DEEBFF;
    border-radius: 30px;
    margin-left: -3px;
    background-color: #DEEBFF;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}


.criteres:hover{
    cursor: pointer;
    background-color: #F2F2F2;
    box-shadow: 5px 5px 10px #0065FC;
}

    /*Infos*/

.infos{
    align-items: center;
    column-gap: 10px;
    margin: 20px 0;
}

.infos .texte{
    font-size: 14px;
    margin: 0;
}

.point{
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: solid #F2F2F2 2px;
    border-radius: 15px;
}

    /*Hébergements*/

#hebergements{
    justify-content: space-between;
}

    /*Resultats*/

.resultats{
    flex-direction: column;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 0px 25px;
}

.groupe{
    column-gap: 20px;
    margin-bottom: 20px;
}

.groupe a,
.annonces{
    flex-direction: column;
    border: 4px solid #FFF;
    background-color: #FFF;
    border-radius: 15px;
}

.annonces{
    height: 40%;
    margin-left: 3px;
}

.groupe a{
    width: 200px;
    height: 150px;
    box-shadow: 3px 3px 10px lightgrey;
    overflow: hidden;
}
.groupe img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.etoiles{
    height: 20%;
    align-items: center;
}
.resultats h4{
    margin-top: 0;
}

    /*Favoris*/

aside{
    flex-direction: column;
    border-radius: 15px;
    background-color: #F2F2F2;
    padding: 0px 25px;
}

#populaires{
    align-items: center;
    justify-content: space-between;
}

.favoris{
    width: 280px;
    height: 100px;
    border-radius: 15px;
    border: solid #FFF;
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 3px 3px 10px lightgrey;
    margin-bottom: 20px;
}
.favoris img{
    width: 100px;
    height: 100%;
    object-fit: cover;
}

.description{
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 10px;
}
.description .etoiles{
    height: 100%;
    align-items: flex-end;
    margin-bottom: 10px;
}

    /*Activités*/

#activites{
    flex-direction: column;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#activites .lieu{
    margin: 0;
}

.photos{
    width: 100%;
    height: 350px;
    gap: 25px;
}

.visites{
    flex-direction: column;
    row-gap: 25px;
}

.sites{
    flex-direction: column;
    height: 350px;
    width: 250px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 3px 10px lightgrey;
}

.grande_carte{
    flex-direction: column;
    width: 250px;
    height: 180px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 3px 10px lightgrey;
}

.petite_carte{
    flex-direction: column;
    width: 250px;
    height: 150px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 3px 10px lightgrey;
}

.sites img{
    width: 100%;
    height: 87%;
    object-fit: cover;
}

.grande_carte img{
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.petite_carte img{
    width: 100%;
    height: 70%;
}

#activites .lieu{
    min-height: 40px;
    padding: 12px 0 0 8px;
    
}

    /*Footer*/

footer{
    position: relative;
    bottom:0;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    margin-top: 30px;
}

footer ol{
    flex-direction: column;
    list-style-type: none;
    margin-right: 100px;
    padding: 0;
}

.menu{
    margin: auto;
}

li{
    margin-bottom: 10px;
}

/*Requêtes pour Tablettes*/

@media (min-width: 769px) and (max-width: 991px) {

    /*Header*/

.logo{
    align-self: center;
}

    /*titre*/

#titre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titre h3{
    margin: 0;
}

#titre p{
    margin-top: 5px;
}

    /*Recherche*/

.recherche{
    justify-content: center;
    margin-top: 0;
}

    /*Filtres*/

.filtres{
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 25px;
    box-shadow: 10px 10px 5px lightgrey;
}

.filtres h4{
    font-size: x-large;
    color: #0065FC;
    margin: 10px 0 0 5px;
}

.filtres ol{
    padding: 0;
    column-gap: 30px;
}

.filtres li{
    margin: 0;
    border-color: #DEEBFF;
    background-color: #DEEBFF;
}

    /*Infos*/

.infos{
    justify-content: center;
    font-weight: bold;
}

    /*Hébergements*/

#hebergements{
    flex-direction: column;
}

    /*Les plus populaires*/

aside{
    max-width: fit-content;
    align-items: center;
    order: -1;
    margin: auto;
    margin-bottom: 15px;
    box-shadow: 10px 10px 5px lightgrey;
}

#populaires i{
    display: none;
}

.favoris{
    width: 400px;
    height: 150px;
}

.favoris img{
    width: 200px;
}

.favoris .etoiles{
    height: 100%;
    justify-self: flex-end;
}

    /*Résultats*/

.resultats{
    order: 2;
    max-width: fit-content;
    align-items: center;
    margin: auto;
    box-shadow: 10px 10px 5px lightgrey;
}

    /*Activités*/

#activites{
    width: 750px;
}

.visites{
    display: unset;
}

.sites,
.petite_carte,
.grande_carte{
    width: 220px;
    height: 180px;
}

.sites,
.petite_carte,
.grande_carte img{
    max-width: 100%;
    
}

.photos{
    gap: 0;
    display: grid;
    grid-template-columns: 240px 240px 240px;
    grid-auto-rows: minmax(200px, 200px)
}

#activites .lieu{
    height: 30px;
}



    
}

