*{
    font-family: 'Raleway', sans-serif;
    
}

header,
section,
div h3,
div h5{
     display: flex;
     margin: auto 40px;
 }
 .texte,
 h5{
     font-size: small;
     font-weight: lighter;
}

 header{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

nav
{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-right: 30px;
    
}

.navigation a
{
    color: #0065FC;
    text-decoration: none;
}

.element{
    text-decoration-color: #0065FC;
    padding-top: 40px;
    border-top: none;
    
}
.element:hover{
    border-top: 2px solid #0065FC;
}

    /*Titre*/
.titre{
    height: 40px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    row-gap: 5px;
    padding-top: 25px;
    padding-left: 0;
    padding-right: 0;
}



    /*Section recherche*/
.recherche{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    padding-left: 0;
}
label{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 40px;
    height: 40px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #F2F2F2;
}
input{
    height: 40px;
    width: 180px;
    border: solid;
    border-right: none;
    border-color: #F2F2F2;

}
button{
    height: 40px;
    border: solid #0065FC;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    color: #FFF; 
    background-color: #0065FC;
}

    /*Filtres*/
.filtres{
    display: flex;
    flex-direction: row;
    align-content: center;
}

h4{
    display: flex;
    align-self: start;
}

.filtres ol{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    list-style-type: none;

}
.criteres{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-right: 20px;
    padding-right: 10px;
    border: solid #F2F2F2;
    border-width: 2px;
    border-radius: 30px;
}
div{
    padding-right: 10px;
}
.criteres .fas{
    padding: 7px 7px;
    border-radius: 30px;
}

.fas{
    
    background-color: #0065FC;
    opacity: 0.3;
}

    /*Infos*/
.infos{
    display: flex;
    width: 360px;
    align-items: center;
    justify-content: space-between;
}
    /*footer*/
footer{
    display:flex;
    position: relative;
    bottom:0;
    width:100%;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    background-size: auto;
    margin: 0;
}
footer ol{
    margin-right: 280px;   
    list-style-type: none;
}
