*{
    font-family: 'Raleway', sans-serif;
    
}
.box {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
 }

 body,
 html{
     display: block;
     margin: auto 25px;
 }

 header{
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 25px;
}

nav
{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-right: 30px;
    
}

.navigation a
{
    color: #0065FC;
    text-decoration: none;
}

.element{
    text-decoration-color: #0065FC;
    padding-top: 40px;
    border-top: none;
    align-items: flex-end;
}
.element:hover{
    border-top: 2px solid #0065FC;
}

.titre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: none;
    
}
h2{
    display: flex;
    font-size: medium;
}
p{
    display: flex;
    font-size: small;
}

form{
    display: flex;
    flex-direction: row;
    border: black solid 1px;
    border-radius: 30px;
    height: 40px;
    width: 320px;
    
}

span{
    display: flex;
    justify-content: end;
    color: #FFF;
    font-weight: bold ;
    background-size: auto;
    background-color: #0065FC;
}