*{
    font-family: 'Raleway', sans-serif;    
}

#bloc-page{
    max-width: 767px;
    padding: 0;
}

.flex{
    display: flex;
}

.annonces,
.favoris{
     text-decoration: none;
     color: black;
}

.texte{
    margin: 0px;
    font-size: 12px;
    color: black;
    margin-bottom: 3px;
}


.fas{
    color: #0065FC;
}

.lieu{
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 3px;
}

    /*Header*/

 header{
    flex-direction: column;
    height: 90px;
    padding: 0;
    margin: 20px 0 20px 0;
}

    /*logo*/

.logo{
    align-self: center;
}

nav{
    flex-direction: row;
    width: 100%;
    margin: 15px 0 20px 0;
    gap: 0px;  
}

.navigation a
{
    color: #000;
}

.element{
    width: 50%;
    justify-content: center;
    margin: 20px 0;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #F2F2F2;
    
}

.element:hover{
    color: #0065FC;
    border-top: 0;
    border-bottom: 2px solid #0065FC;
}

    /*Titre*/
#titre{
    height: fit-content;
    margin: 30px 0 0 15px;
}

    /*Section recherche*/

.recherche{
    width: calc(100%-15px);
    height: 50px;
    justify-content: space-between;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    margin: 30px 15px;
    padding: 0;
}

label{
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
}

input{
    height: 50px;
    width: 180px;
    border: none;
    border-right: none;
    border-left: none;
    border-color: #F2F2F2;
    text-decoration-color: black;
    padding-left: 0px;
}

.visuel1{
    display: none;
}

.visuel2{
    display: flex;
    justify-content: center;
}

button{
    content: "fa-solid fa-magnifying-glass";
    width: 52px;
    height: 52px;
    border: 3px solid #0065FC;
    border-radius: 15px;
    color: #FFF; 
    background-color: #0065FC;
}
button:hover{
    cursor: grab;
    font-weight: bolder;
    text-shadow: 10px 10px 30px #FFF;
}

input::placeholder{
    vertical-align: baseline;
    color: black;
    font-size: large;
    font-weight: bold;
    opacity: 1;
}

    /*Filtres*/

.filtres{
    flex-direction: column;
}

.filtres h4{
    align-self: flex-start;
    margin-left: 15px;
} 

.filtres ol{
    flex-wrap: wrap;
    list-style-type: none;
    gap: 10px;
    padding: 0 15% 0 0;
    margin-left: 15px;
}

.criteres{
    align-items: center;
    height: 40px;
    margin: 0 20px 0 0;
    padding-right: 10px;
    border: 2px solid lightgrey;
    border-radius: 30px;
}

.icones{
    width: 40px;
    height: 40px;
    border:  2px solid #DEEBFF;
    border-radius: 30px;
    background-color: #DEEBFF;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}


.criteres:hover{
    cursor: pointer;
    background-color: #F2F2F2;
    box-shadow: 5px 5px 10px #0065FC;
}

    /*Infos*/

.infos{
    align-items: baseline;
    column-gap: 10px;
    margin: 20px 30px 20px 15px;
}

.infos .texte{
    font-size: 16px;
    margin: 0;
}

.point{
    align-items: center;
    width: 20px;
    height: 20px;
    border: solid #F2F2F2 2px;
    border-radius: 20px;
    padding: 0 2px;
}

    /*Hébergements*/

#hebergements{
    flex-direction: column;
}

    /*Resultats*/

.resultats{
    flex-direction: column;
    order: 2;
    border: none;
    background-color: #FFF;
    padding: 0;
}

.groupe{
    flex-direction: column;
    column-gap: 20px;
    margin-bottom: 20px;
}

.groupe a,
.annonces{
    flex-direction: column;
    border: 4px solid #FFF;
    background-color: #FFF;
    border-radius: 15px;
}

.annonces{
    height: 40%;
    margin-left: 3px;
}

.groupe a{
    width: 200px;
    height: 150px;
    box-shadow: 3px 3px 10px lightgrey;
    overflow: hidden;
}
.groupe img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.etoiles{
    height: 20%;
    align-items: center;
}
.resultats h4{
    margin-top: 0;
}

    /*Favoris*/

aside{
    flex-direction: column;
    width: fit-content;
    border-radius: 0;
    background-color: #F2F2F2;
    padding: 10px 15px;
    margin: auto;
}

aside a{
    width: content;
}

.favoris{
    width: 100%;
    height: 150px;
    border-radius: 20px;
    background-color: #FFF;
    margin-bottom: 10px;
}
.favoris img{
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.description{
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 20px;
}
.description .etoiles{
    height: 100%;
    align-items: flex-end;
    margin-bottom: 10px;
}

    /*Activités*/

#activites{
    flex-direction: column;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#activites .lieu{
    margin: 0;
}

.photos{
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    height: 350px;
}

.sites{
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 3px 10px lightgrey;
}

.grande_carte{
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 3px 10px lightgrey;
}

.petite_carte{
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 3px 10px lightgrey;
}

.sites img{
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.grande_carte img{
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.petite_carte img{
    width: 100%;
    height: 62%;
    object-fit: cover;
}

#activites .lieu{
    height: 40px;
    align-items: center;
    padding-left: 10px;  
}

.visite1{
    grid-column: 1 / 2;
    grid-row: 1 / 7;
}

.visite2{
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    margin-bottom: 10px;
}

.visite3{
    grid-column: 2 / 3;
    grid-row: 4 / 7;
    margin-top: 10px;
}

.visite4{
    grid-column: 3 / 4;
    grid-row: 1 / 7
}

.visite5{
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    margin-bottom: 10px;
}

.visite6{
    grid-column: 4 / 5;
    grid-row: 3 / 7;
    margin-top: 10px;
}
    /*Footer*/

footer{
    position: relative;
    bottom:0;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    margin-top: 30px;
}

footer ol{
    flex-direction: column;
    list-style-type: none;
    margin-right: 100px;
    padding: 0;
}

.menu{
    margin: auto;
}

li{
    margin-bottom: 10px;
}